In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as sps

In [6]:
#データの読み込み
info_data = pd.read_csv('../data/アップロード用/bike_info.csv',index_col=0)
model_data = pd.read_csv('../data/アップロード用/model_data.csv',index_col=0)

In [7]:
#サンプルサイズが少ないモデルを抽出
all_data = info_data.merge(model_data,on='model_number',how='left')
brand_count = all_data.groupby('brand').size().sort_values(ascending=True)
#下位10メーカーを抽出(上のcountデータがすでに照準のため上から９つを抽出する)
low_10 = brand_count.index[0:10]

In [11]:
low_10

Index(['Aprilia', 'MV Agusta', 'Lambretta', 'SWM', 'Benelli', 'Beta', 'Vespa',
       'Moto Guzzi', 'Peugeot', 'Italjet'],
      dtype='object', name='brand')

In [8]:
model_data = model_data[~model_data['brand'].isin(low_10)]

In [9]:
#このメーカーデータを使ってtrainデータに結合
data = info_data.merge(model_data,on='model_number',how='left')
data.dropna(inplace=True)

# タイプごとに差があるのか検定を行う  
サンプルサイズに差があるため、対応がない --> クラスカルウォリスの検定を行う

In [13]:
data.groupby('type').count()

,id,cost,model_number,model_year,color,mileage,guarantee_period,store_id,brand,name,displacement
type,,,,,,,,,,,
アメリカン/クルーザー,716,716,716,716,716,716,716,716,716,716,716
オフロード/モタード,524,524,524,524,524,524,524,524,524,524,524
スクーター/ビッグスクーター,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280
スポーツ/ツアラー,907,907,907,907,907,907,907,907,907,907,907
ネイキッド,2173,2173,2173,2173,2173,2173,2173,2173,2173,2173,2173

In [20]:
american = data[data['type']=='アメリカン/クルーザー'].cost.values
offload = data[data['type']=='オフロード/モタード'].cost.values
scooter = data[data['type']=='スクーター/ビッグスクーター'].cost.values
sport = data[data['type']=='スポーツ/ツアラー'].cost.values
naked = data[data['type']=='ネイキッド'].cost.values

In [24]:
naked

array([1378000,  348000,  578000, ...,  748000, 1658000,  458000])

In [25]:
result = sps.kruskal(american,offload,scooter,sport,naked)

In [27]:
print(result)

KruskalResult(statistic=2396.7544604601067, pvalue=0.0)

## pvalがほぼゼロに近いので、有意水準1%でも差があると言える。