In [1]:
import pandas as pd

# bigqueryに読み込みをした際にカラム名が日本語だと取り込めないため英語に変更

In [2]:
info_data = pd.read_csv('../data/整形後データ/bike_info.csv',index_col=0)
model = pd.read_csv('../data/整形後データ/modelnumber.csv',index_col=0)
tenpo = pd.read_csv('../data/整形後データ/tenpo_data.csv',index_col=0)

In [3]:
info_data

                 id       価格        型式番号    モデル年     色     走行距離  保証期間  店舗id
0     2100006155617   118000    JBH-AF67  2012.0     黒   2742.0     3    51
1     2100004366077  1378000    EBL-NC42  2019.0     黒    776.0     5     2
2     2100005457217   348000  JBK-ER250C  2013.0     白  11979.0     1    58
3     2100005410007   578000   EBL-RH07J  2020.0     黒   4500.0     5    37
4     2100005346689   568000        JUE4  2021.0     黒   5688.0     5    81
...             ...      ...         ...     ...   ...      ...   ...   ...
6102  2100006097726  1018000   8BL-RM39J  2022.0     青   2964.0     7    67
6103  2100006214697   798000    BC-SK44A  2008.0     黒  11745.0     3     3
6104  2100006202625  1198000    EBL-SC59  2013.0  オレンジ  23013.0     1    74
6105  2100006271508   466000   JBK-RG10J  2019.0     赤   5895.0     5    54
6106  2100005847902   248000  JBK-EX250K  2008.0     黒  16744.0     3    36

[6107 rows x 8 columns]

In [4]:
info_data.rename(columns={'価格':'cost',
                          '型式番号':'model_number',
                          'モデル年':'model_year',
                          '色':'color',
                          '走行距離':'mileage',
                          '保証期間':'guarantee_period',
                          '店舗id':'store_id'},inplace=True)

In [5]:
model.rename(columns={'型式番号':'model_number',
                      'メーカー':'brand',
                      '車両名':'name',
                      'タイプ':'type',
                      '排気量':'displacement'},inplace=True)

In [6]:
tenpo_id = tenpo['店舗id']
tenpo.drop(columns='店舗id',inplace=True)
tenpo.insert(0,'store_id',tenpo_id) 
tenpo.rename(columns={'店舗名':'name',
                      '郵便番号':'postal_code',
                      '住所':'address',
                      '電話番号':'phone'},inplace=True)

In [7]:
info_data.to_csv('../data/アップロード用/bike_info.csv')
model.to_csv('../data/アップロード用/model_data.csv')
tenpo.to_csv('../data/アップロード用/tenpo_data.csv')

In [8]:
info_data.describe()

,id,cost,model_year,mileage,guarantee_period,store_id
count,6.107000e+03,6.107000e+03,6072.000000,6003.000000,6107.000000,6107.000000
mean,2.100006e+12,7.321983e+05,2015.383235,8983.456272,3.287048,38.542328
std,6.719263e+05,6.544438e+05,7.302387,8591.393345,1.743351,24.671573
min,2.100000e+12,6.600000e+04,1969.000000,0.000000,0.000000,1.000000
25%,2.100005e+12,3.280000e+05,2013.000000,2426.000000,3.000000,14.000000
50%,2.100006e+12,5.280000e+05,2018.000000,6494.000000,3.000000,37.000000
75%,2.100006e+12,8.980000e+05,2020.000000,13220.000000,5.000000,61.000000
max,2.100006e+12,8.980000e+06,2024.000000,61236.000000,7.000000,82.000000